= form_with(model: @measurement, url: measurements_path, local: true) do |f|
  - if @measurement.errors.any?
    .alert.alert-danger
      %ul
        - @measurement.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :measurement_type, class: 'form-label'
    = f.collection_select :rainbow_stride_measurement_type_id, RainbowStride::MeasurementType.all, :id, :to_s, {prompt: "Select a measurement type"}, {class: 'form-control'}
  .form-group
    = f.label :value, class: 'form-label'
    = f.number_field :value, class: 'form-control', step: 'any'
  .form-group
    = f.label :date, class: 'form-label'
    = f.date_field :date, class: 'form-control', value: Date.today
  .buttons
    = f.submit 'Save', class: 'btn btn-primary'