.container
  %h1 Rainbow Stride Regimen Blueprints

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Duration
          %th Created At
          %th Updated At
          %th Actions
      %tbody
        - @regimen_blueprints.each do |regimen_blueprint|
          %tr
            %td= regimen_blueprint.title
            %td= regimen_blueprint.duration
            %td= regimen_blueprint.created_at
            %td= regimen_blueprint.updated_at
            %td
              = link_to 'Show', regimen_blueprint_path(regimen_blueprint), class: 'btn btn-primary btn-sm'
              = link_to 'Edit', edit_regimen_blueprint_path(regimen_blueprint), class: 'btn btn-secondary btn-sm'
              = link_to 'Delete', regimen_blueprint_path(regimen_blueprint), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

  = link_to 'New Regimen Blueprint', new_regimen_blueprint_path, class: 'btn btn-success'
