<!DOCTYPE html>
<html>
<head>
  <title>Rainbow stride</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rainbow_stride/application", media: "all" %>
</head>
<body>
<% render 'layouts/rainbow_stride/shared/navbar' %>
<%= yield :header %>
 <div class="container">
   <%= yield %>
 </div>

</body>
</html>
