<!DOCTYPE html>
<html>
<head>
  <title>Rainbow stride</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "rainbow_stride/application" %>
  <%= stylesheet_link_tag    "rainbow_stride/application", media: "all" %>
</head>
<body>
<% render 'layouts/rainbow_stride/shared/navbar' %>
<%= yield :header %>
 <div data-controller="rainbow_stride--hello" class="container">
   <%= notice %>
   <%= alert %>
   <%= yield %>
 </div>

</body>
</html>
