<%= form_with(model: effort_stage) do |form| %>
  <% if effort_stage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(effort_stage.errors.count, "error") %> prohibited this effort_stage from being saved:</h2>

      <ul>
        <% effort_stage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
