<%= form_with(model: effort_stage, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if effort_stage.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(effort_stage.errors.count, "error") %> prohibited this effort_stage from being saved:</h2>

      <ul>
        <% effort_stage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>