<div id="<%= dom_id plan %>" class="card mb-3">
  <div class="card-header">
    <strong>Title:</strong>
    <%= plan.title %>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Duration:</strong>
      <%= plan.duration %>
    </p>

    <% end_date = plan.duration %>
    <p class="card-text">
      <strong>End Date:</strong>
      <%= end_date.to_s(:long) %> (in <%= distance_of_time_in_words(Time.current, end_date) %>)
    </p>
  </div>
</div>