.container
  %h1 Rainbow Stride Plans

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Duration
          %th Created At
          %th Updated At
          %th Actions
      %tbody
        - @plans.each do |plan|
          %tr
            %td= plan.title
            %td= plan.duration
            %td= plan.created_at
            %td= plan.updated_at
            %td
              = link_to 'Show', plan_path(plan), class: 'btn btn-primary btn-sm'
              = link_to 'Edit', edit_plan_path(plan), class: 'btn btn-secondary btn-sm'
              = link_to 'Delete', plan_path(plan), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

  = link_to 'New Plan', new_plan_path, class: 'btn btn-success'
