<div class="container-xl mt-4">
  <div class="row">
    <div class="col">
      <h1>Plan</h1>
      <p class="text-success"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render @workout_plan %>
    </div>
  </div>

  <!-- Display exercises and levels -->
  <div class="row mt-4">
    <div class="col">
      <h2>Exercises</h2>
      <div class="accordion" id="exercisesAccordion">
        <% @workout_plan.workout_plan_exercises.each_with_index do |wp_exercise, index| %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                <%= wp_exercise.exercise.name %>
                <span class="badge bg-info text-dark ms-3">
                  reps:<%= wp_exercise.repetitions.to_i %>
                </span>
                <span class="badge bg-info text-dark ms-3">
                  rounds:<%= wp_exercise.rounds.to_i %>
                </span>
              </button>
            </h2>
            <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#exercisesAccordion">
              <div class="accordion-body">
                <div class="card mb-3">
                  <div class="card-header">
                    add info
                  </div>
                  <div class="card-body">
                    <%= form_with model: wp_exercise, turbo: false, remote: true do |wpe| %>
                      <div class="form-group">
                        <%= wpe.label :repetitions %>
                        <%= wpe.text_field :repetitions , class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= wpe.label :rounds %>
                        <%= wpe.text_field :rounds , class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= wpe.label :weight %>
                        <%= wpe.text_field :weight , class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= wpe.submit class: 'btn btn-success' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    document.querySelectorAll('.level-select').forEach(function(select) {
      select.addEventListener('change', function() {
        const exerciseId = this.dataset.exerciseId;
        document.querySelectorAll(`.exercise-level-info`).forEach(function(div) {
          div.style.display = 'none';
        });
        const selectedLevelId = this.value;
        document.querySelector(`#exercise_level_${selectedLevelId}`).style.display = 'block';
      });
    });
  </script>


  <!-- Other sections remain the same -->

  <div class="row mt-3">
    <div class="col">
      <%= link_to "Edit this workout_plan", edit_workout_plan_path(@workout_plan), class: "btn btn-outline-primary me-2" %>
      <%= link_to "Back to workout_workout_plans", workout_plans_path, class: "btn btn-outline-secondary me-2" %>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Destroy this workout_plan</button>

      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this workout_plan?</p>
            </div>
            <div class="modal-footer">
              <%= button_to "Yes, delete it", @workout_plan, method: :delete, class: "btn btn-danger", data: { bs_dismiss: "modal" } %>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
