<!-- app/views/workouts/index.html.erb -->
<div class="container">
  <h1>Workout history</h1>
  <div class="list-group">
    <% @workouts.each do |workout| %>
      <a href="<%= workout_path(workout.id) %>" class="list-group-item list-group-item-action">
        Workout <%= workout.regimen_blueprint.title %>
        <br>
        <%= workout.start_time.strftime('%F %T') %> - <%= workout.end_time&.strftime('%F %T') %>
      </a>
    <% end %>
  </div>
  <br>
  <%= link_to 'Start a new workout', new_workout_path, class: 'btn btn-primary' %>
</div>