<div class="container py-4">
  <div class="row">
    <div class="col-md-12 text-center mb-4">
      <h1><%= exercise.name %></h1>
    </div>
  </div>
  <div id="<%= dom_id exercise %>" class="row justify-content-center">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <th>Name:</th>
          <td><%= exercise.name %></td>
        </tr>
        <tr>
          <th>User:</th>
          <td><%= exercise.user.to_s %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% exercise.exercise_levels.each do |level| %>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <%= level.level.name %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Description:</h5>
            <p class="card-text"><%= level.description %></p>
            <h5 class="card-title">How to do:</h5>
            <p class="card-text"><%= level.how_to_do %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
