<div class="container py-4">
  <div class="row">
    <div class="col-md-12 text-center mb-4">
      <h1><%= exercise.name %></h1>
    </div>
  </div>
  <div id="<%= dom_id exercise %>" class="row justify-content-center">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <th>Name:</th>
          <td><%= exercise.name %></td>
        </tr>
        <tr>
          <th>User:</th>
          <td><%= exercise.user.to_s %></td>
        </tr>
        <tr>
          <th>Level:</th>
          <td><%= exercise.level&.name %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>