<%= form_with(model: exercise, local: true, html: { class: 'needs-validation p-3', novalidate: true }) do |form| %>
  <% if exercise.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :level_id, "Level" %>
            <%= form.collection_select :rainbow_stride_level_id, RainbowStride::Level.all, :id, :name, { prompt: 'Select Level' }, { class: 'form-control' } %>
          </div>
        </div>
      </div>

      <div class="form-group d-flex justify-content-end">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>